<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <!-- add icon link -->
        <link
        rel="icon"
        href="https://png.pngtree.com/png-clipart/20180626/ourlarge/pngtree-instagram-icon-instagram-logo-png-image_3584852.png"
        type="image/x-icon"
        />
        <title><%= title %></title>
        <style>
            .explore-feed img {
                width: 290px;
                height: 290px;
                padding: 0px 28px 28px 0px;
                object-fit: cover;
            }

            .explore-feed {
                margin-left: auto;
                margin-right: auto;
                display: block;
                width: fit-content;
            }
        </style>
    </head>
    
    <body style="background-color: #fafafa">
        <!-- Include nav bar -->
        <%- include('partials/navbar.ejs') %>

        <div class="explore-container" style="padding-top: 90px; padding-bottom: 20px">
            <div class="explore-feed">
                <img src="https://www.w3schools.com/css/img_mountains.jpg"/>
                <img src="https://www.w3schools.com/css/img_5terre.jpg">
                <img src="https://www.w3schools.com/css/img_5terre_wide.jpg"/>
            </div>
            <div class="explore-feed">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-DH8cTppDo1qY5QtDQX__9fyow19krcNWAw&usqp=CAU"/>
                <img src="https://images.unsplash.com/photo-1454372182658-c712e4c5a1db?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80">
                <img src="https://www.w3schools.com/css/paris.jpg"/>
            </div>
            <div class="explore-feed">
                <img src="https://www.w3schools.com/css/img_lights.jpg"/>
                <img src="https://thumbs.dreamstime.com/b/picturesque-autumn-scenery-santa-maddalena-village-church-road-colorful-trees-meadows-foreground-mountain-peaks-159426189.jpg">
                <img src="https://www.w3schools.com/css/img_mountains.jpg"/>
            </div>
        </div>

    </body>
</html>