<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <!-- add icon link -->
    <link
      rel="icon"
      href="https://png.pngtree.com/png-clipart/20180626/ourlarge/pngtree-instagram-icon-instagram-logo-png-image_3584852.png"
      type="image/x-icon"
    />
    <title><%= title %></title>
  </head>
  <body style="background-color: #fafafa">
    <!-- Include nav bar -->
    <%- include('partials/navbar.ejs') %>

    <div class="body-container" style="padding-top: 75px; padding-bottom: 20px">
      <div class="status-bar"><%- include('partials/statusbar.ejs')%></div>
      <div class="posts-container">
        <% for (var i=0;i<5;i++) {%>
        <!-- Including dummy post -->
        <%- include('partials/post.ejs')%> <% } %>
      </div>
    </div>
  </body>
</html>
